* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ececec;
}

.welcome {
    display: flex;
    margin-left: 5%;
    margin-top: 5%;
}
.welcome-text {
    padding: 20px;
}
.welcome-text p {
    color: #858585;
}
.welcome-p {
    margin-top: 20px;
}
.welcome img {
    height: 150px;
}
button {
    padding: 5px;
    margin-top: 5px;
    color: white;
    background-color: #6c4994;
    border: none;
    border-radius: 3px;
}
p a button {
    font-size: large;
    background-color: #ff6600;
}